#workflowContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.container {
    text-align: center;
}

.custom-card-container {
    width: 100%;
    margin: 0 auto;
}

.custom-card {
    width: 100%; 
    max-width: none;
}
.vr {
    position: relative;
    left: 50%;
    height: 50px;
    border: solid black;
    width: 3px;
}
.arrow-down {
    position: relative;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px dashed gray;
    margin-top: -20px;
}